* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    font-size: larger;
}
.nav-bar {
    width: fit-content;
    display: inline-block;
    background-color: black;
    font-size: x-large;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
.nav-bar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
    float: right;
    overflow: hidden;
}
.dropdown .btn {
    font-size: x-large; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.nav-bar a:hover, .dropdown:hover .btn {
    background-color: rgb(48, 48, 48);
}
.drop-content {
    font-size: large;
    display: none;
    position: absolute;
    background-color: rgb(48, 48, 48);
    z-index: 1;
    width: fit-content;
}
.drop-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.drop-content a:hover {
    background-color: rgb(60,60,60);
}
.dropdown:hover .drop-content {
    display: block;
}
#profile {
    clear: both;
    width: 50%;
    margin: 50px auto 100px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.prof {
    display: inline-block;
    margin: 5px;
}
#profile-pic {
    background-image: url("imgs/gradpic.jpg");
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    width: 33%;
    height: 300px
}
#about {
    width: 60%;
}
#projects {
    margin: 15px;
    text-align: center;
    background-color: rgb(243, 243, 243);
}
.project {
    height: 100vh;
    padding: 20px;
    width: 60%;
    margin: 0px auto 100px auto;
}
.proj-desc {
    margin: 10px auto 0px auto;
}
#sudoku {
    margin-top: 150px;
}
#ttt {
    height: 125vh;
}
#proj-head {
    background-color: white;
    padding-bottom: 100px;
}
#proj-icons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
}
.avatar {
    float: left;
    height: 50px;
    width: 50px;
    margin: 25px;
    border-radius: 40px;
}
.icon-label {
    float: left;
    margin-top: 35px;
}
.proj-link {
    height: 100px;
    width: 250px;
}
.proj-link:hover {
    border: 2px solid black;
    background-color: rgb(243, 243, 243);
}